html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* 关键：让 main 占据剩余空间 */
}

.site-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    z-index: 1000;
    position: sticky;/*fixed  sticky*/
    top: 0;
}

.brand-cn a {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 30px;
}

.user-controls a{
    color: #333;
}
.user-controls a:hover,
.user-controls a.active {
    color: #007BFF;
}


.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-list a:hover,
.nav-list a.active {
    color: #007BFF;
}

.icon-link {
    color: #333;
    font-size: 18px;
}

.language-selector {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user-link {
    font-weight: 500;
    color: #007BFF;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.header-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.contact-header {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.contact-header h1 {
    margin-top: 10px;
    font-size: 2em;
    color: #2c3e50;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
}

.contact-info {
    flex: 1 1 400px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.contact-info h2{
    text-align: center;
}

.info-row {
    display: flex;
    justify-content: center; /* 使子元素在水平方向居中 */
    gap: 40px; /* 可选：让两项之间有间距 */
    margin-bottom: 10px;
}


.info-item {
    width: 240px; /* 根据内容自动宽度 */
    text-align: left; /* 保持文字左对齐 */
}

.info-Chinese {
    text-indent: 2em;
    text-align: left; /* 保持文字左对齐 */
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
}
