/* 页面基本样式 */
body {
    position: relative;
    margin: 0;
    background: #ffffff;
    padding-bottom: 5vh;
}
.back-link {
    left: 10px;
    z-index: 1000;
    background-color: #ffffff;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.back-link:hover {
    background-color: #e2e6ea;
}
.site-header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Helvetica Neue', sans-serif;
    z-index: 1000;
    position: sticky;/*fixed  sticky*/
    top: 0;
}

.brand-cn a {
    color: #000 !important;
    text-decoration: none !important;
    font-size: 30px;
}

.user-controls a{
    color: #333;
}
.user-controls a:hover,
.user-controls a.active {
    color: #007BFF;
}


.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    position: relative;
}

.nav-list a:hover,
.nav-list a.active {
    color: #007BFF;
}

.icon-link {
    color: #333;
    font-size: 18px;
}

.language-selector {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user-link {
    font-weight: 500;
    color: #007BFF;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}


main {
    padding-top: 0;  /* 根据导航栏的高度调整 */
}

.form-container {
    height: 700px;
    margin: 50px auto;
    background: #f9f9f9;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.col-md-7 {
    margin-top: 50px;
}

/*用户管理页面*/
.user-card {
    position: relative;
    margin-bottom: 20px;
}

.edit-popup {
    position: absolute;
    top: 0;
    left: 315px;
    width: 320px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 15px;
    border-radius: 8px;
    z-index: 100;
}